<div class="container">
  <div class="row">
    <%= link_to '/contacts/new', style: "text-align: right", class: "mb-2" do %>
      <md-outlined-button>Criar Contato</md-outlined-button>
    <% end %>
  </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
      <md-list style="max-width: 300px;">
      <md-list-item>
        Contatos
      </md-list-item>
      <form action="/contacts" accept-charset="UTF-8" method="get">
        <div class='p-2'>
          <md-outlined-text-field label="Digite CPF ou Nome" name="query" id="query" type="text" value="<%= params[:query] %>"></md-outlined-text-field>
        </div>
        <div class='p-2'>
          <md-outlined-button type="submit">Buscar</md-outlined-button>
        </div>
      </form>
      
      <md-divider></md-divider>

      <% if @contacts.blank? %>
        <md-list-item>
          Sua lista de contatos está vazia!
        </md-list-item>
      <% end %>

      <% @contacts.each do |contact| %>
        <md-list-item>
          <div onclick="updateMarker(<%= contact.address.lat %>, <%= contact.address.lon %>)"> <%= contact.name %> </div>
          <a href="/contacts/<%=contact.id%>">Editar</a>
        </md-list-item>
      <% end %>
      <%= paginate @contacts %>
    </md-list>
    </div>
    <div class="col-sm-12 col-md-8">
      <gmp-map
        id="map"
        center="-23.550520,-46.633308"
        zoom="10"
        map-id="DEMO_MAP_ID"
        style="height: 400px"
      >
        <gmp-advanced-marker
          id="marker"
          position="-23.550520,-46.633308"
          ></gmp-advanced-marker>
      </gmp-map>
    </div>
  </div>
</div>

